@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #F8F9FA;
  --background-dark: #062F34;
  --primary: #1EC5B7;
  --text-secondary: #333333;
}

@layer base {
  body {
    @apply bg-white text-text-secondary;
  }
  
  a {
    @apply text-primary hover:underline;
  }
  
  h1, h2, h3 {
    @apply font-bold text-gray-900;
  }
}

@layer utilities {
  .gradient-hero {
    @apply bg-gradient-to-r from-primary via-cyan-600 to-teal-700;
  }
}